<ion-header>
  <ion-toolbar class="toolbar">
    <div class="header-content">
      <ion-title class="header-title">A.F.I.M</ion-title>
      <ion-searchbar class="custom-searchbar" placeholder="Pesquisar"></ion-searchbar>
      <a routerLink="/register-house">
        <ion-button fill="clear" class="kart">
          <img src="..\assets\icon\imgs\carrinho-icon.png" alt="kart" class="kart" height="40px">
        </ion-button>
      </a>
      <a href="/login">
        <ion-button fill="clear" class="home-button">
          <img src="..\assets\icon\imgs\perfil-icon.png" alt="Home" class="home-icon">
        </ion-button>
      </a>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="promotion">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Promoção Mensal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="..\assets\icon\imgs\promo.png" alt="Promoção do Dia" class="promotion-image">
        <div class="promotion-text">
          <p>Desconto de 20% em todos os produtos!</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

<h3 class="home-title">Produtos em Destaque</h3>
  <div id="container">
    <img src="..\assets\icon\imgs\predio.jpg" alt="Logo" class="building-image">
    <div class="container-content">
      <!-- Conteúdo do container -->
      <ion-card *ngFor="let card of cards">
        <ion-card-header>
          <ion-card-title>{{ card.title }}</ion-card-title>
          <ion-card-subtitle>{{ card.price | currency }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ card.description }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>