<ion-header>
  <ion-toolbar class="toolbar">
    <div class="header-content">
      <img src="..\assets\icon\dexbazaar.png" alt="dexbazaar" height="40px">
      <ion-searchbar class="custom-searchbar" placeholder="Pesquisar"></ion-searchbar>
      <!-- Botões visíveis apenas em telas grandes -->
      <a routerLink="/register-product" class="desktop-only">
        <ion-button fill="clear" class="kart">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
        </ion-button>
      </a>
      <a [routerLink]="getProfileLink()" class="desktop-only">
        <ion-button fill="clear" class="home-button">
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-button>
      </a>
      <!-- Botão de hambúrguer visível apenas no mobile -->
      <ion-menu-button menu="main-menu" class="mobile-only"></ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/register-product">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        Carrinho
      </ion-item>
      <ion-item routerLink="/login">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        Conta
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" class="ion-padding">
<h3 class="home-title">Produtos em Destaque</h3>
<div id="container">
  <div class="container-content">
    <ion-card *ngFor="let product of products">
      <img *ngIf="product.images && product.images.length > 0" [src]="product.images[0].image" class="product-image" />
      <ion-card-header>
        <ion-card-title>{{ product.title }}</ion-card-title>
        <ion-card-subtitle>
          R{{ product.price | currency }} 
          <br>
          (~ {{ convertToEthereum(product.price) | number:'1.4-4' }} 
          <img src="assets/icon/ethereum-logo.png" alt="Ethereum" class="eth-logo"> ETH)  
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ product.description }}
        <div class="location-info">
          <ion-icon name="location-sharp" class="location-icon"></ion-icon>
          {{ product.city }} / {{ product.state }}
        </div>
        <div class="created-at">
          <ion-icon name="calendar-outline" class="calendar-icon"></ion-icon>
          {{ product.created_at | date:'dd/MM/yyyy HH:mm' }}
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
</ion-content>