<ion-header>
  <ion-toolbar>
    <ion-title>Register House</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="houseForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input formControlName="location"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!houseForm.valid">Register</ion-button>
  </form>
</ion-content>