ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-item {
  margin-bottom: 16px;
}

ion-button {
  margin-top: 24px;
}

.image-preview {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
.preview-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #eee;
}